<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559204086032-0sqnjdvpst8qlavsjeetp67tlemrmgmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559204086032-0sqnjdvpst8qlavsjeetp67tlemrmgmf</string>
	<key>API_KEY</key>
	<string>AIzaSyDoiGl8mef_E9ocMcQmf88FqwwrxN4zwl0</string>
	<key>GCM_SENDER_ID</key>
	<string>559204086032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helia</string>
	<key>PROJECT_ID</key>
	<string>hamo-f9898</string>
	<key>STORAGE_BUCKET</key>
	<string>hamo-f9898.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559204086032:ios:11f0f5b238f17d0bbcf595</string>
</dict>
</plist>